export DBT_DEV_TOKEN=dapid77f3cb5fa1b265b16b5bc81e968776d
export DBT_INT_TOKEN=def
export DBT_STAGE_TOKEN=ghi
export DBT_PROD_TOKEN=N/A
export DBT_PERSONAL_DEV_TOKEN=dapid77f3cb5fa1b265b16b5bc81e968776d
export DBT_DEVELOPER_SCHEMA='dbt_supadhyay'
export DBT_PROFILES_DIR=./
export DBT_START_TIMESTAMP='2023-05-26 00:10:00'
export DBT_END_TIMESTAMP='2023-05-26 00:20:00'
